<configuration>

  <appender name="rolling-file"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/jochre-ocr.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover. Make sure the path matches the one in the file element 
        or else the rollover logs are placed in the working directory. -->
      <fileNamePattern>logs/jochre-ocr-%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>

      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>3</maxHistory>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date %level %logger{10} %thread %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date %level %logger{10} %thread %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>temp/logs/jochre3-test.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>temp/logs/jochre3-test-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each archived file's size will be max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- 30 days to keep -->
      <maxHistory>2</maxHistory>
      <!-- total size of all archive files, if total size > 100GB, it will delete old archived file -->
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.joliciel" level="INFO" />
  <logger name="com.joliciel.jochre.ocr" level="INFO" />
  <logger name="com.joliciel.jochre.ocr.core.text" level="INFO" />
  <logger name="com.joliciel.jochre.ocr.core.segmentation" level="INFO" />
  <logger name="com.joliciel.jochre.ocr.core.graphics.BlockSorter" level="INFO" />
  <logger name="com.joliciel.jochre.graphics" level="INFO" />

  <root level="INFO">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
</configuration>
