<configuration>

  <appender name="rolling-file"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/jochre-ocr.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover. Make sure the path matches the one in the file element 
        or else the rollover logs are placed in the working directory. -->
      <fileNamePattern>logs/jochre-ocr-%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>

      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>3</maxHistory>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date %level %logger{10} %thread %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date %level %logger{10} %thread %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.joliciel" level="INFO" />
  <logger name="com.joliciel.jochre.ocr" level="INFO" />
  <logger name="com.joliciel.jochre.graphics" level="INFO" />

  <root level="INFO">
    <appender-ref ref="console" />
  </root>
</configuration>
